.titserviciosindiv{
    text-align: center;
    margin: 20px;
}
.servicio{
    display: flex;
    .div2 .imgserviciosindiv{
        height:400px;
    }
    .infoserviciosindiv{
        margin-right: 100px;
    }
}