*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../‌font/bebasneueregular.ttf);
}
@font-face {
    font-family:"CabinSketch-Regular" ;
    src: url(../‌Font/cabinsketchregular.ttf);
}
@font-face {
    font-family: "PTSansNarrow-Regular";
    src: url(../‌Font/ptsansnarrowregular.ttf);
}

$font1:bebasneueregular;
$font2:cabinsketchregular;
$font3:ptsansnarrowregular;

body{
    font-family: $font3;
}
h1, h2, h3, h4{
    font-family: $font1;
    padding: 10px;}