.container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "video video"
      "servicios servicios"
      "nosotros contacto"
      "footer footer";
            }
.video { 
    grid-area: video; 
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    & video {
        height: 100%;
        width: 100%;
        z-index: -1;       
            }
    .titsect2{
            font-size: 2rem;
            font-family:"CabinSketch-Regular";
            z-index: -1;
            position:absolute;
            top:65%;
            left:50%;
            transform: translate(-50%, -50%);
            }
    }
.servicios { 
        grid-area: servicios; 
        background-color: rgb(103, 175, 175);
        color: rgb(43, 39, 39);
        height: 470px;
        text-align: center;
        align-items: center;
        .titsec2{
                text-align: center;
                font-size: 1.8rem;
                margin-top: 10px;
                }
        .div1{
            display:inline-block;
            margin: 0px auto;
            padding: 60px;
            text-align: center;
            font-family:$font2;
            .subtsec2{
                font-size:1.2rem;
                font-family:$font2;
                font-style: normal;
                margin-top: 10px;
                    }
            img{
                height: 200px;
                width: auto;
                border-radius: 100px;
                }
            }
        }
.nosotros { 
        grid-area: nosotros;
        background-color: white;
        margin-left: 30px;
        margin-right: 15px;
        font-size: 1.2rem;
        height: 600px;
        .nostit{
            text-align: center;
            }    
        .nospar{   
            padding-left: 50px;
            padding-right: 60px;
            text-align: justify;
            }   
        }
.contacto { 
        grid-area: contacto;
        font-size:1.2rem;
        text-align: center;
        background-color: whitesmoke;
        height:auto;
        padding-bottom: 30px;
        }


