@media screen and (max-width: 480px)  {
    .container  {   
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "video"
          "servicios"
          "nosotros"
          "contacto"
          "footer";
        }
    .header { 
        grid-area: header;
        display:flex;        
        flex-direction: column;
        justify-items: center;
        font-size: 1.1rem;
        height: 150px;
       .logo {
        height: 40%;
        margin: auto;
        padding: auto;
            }        
        .nav{
        width:auto;
        margin: auto;
        padding: auto;    
            }
    }
    .video video{
        width: 90%;
        height: auto;
        z-index: -2;
    }
    .video .titsect2{
        font-size: 0.5rem;
        color:black;
        font-family:"CabinSketch-Regular";
        z-index: -1;
        text-align: center;
        justify-content: center;
        position:absolute;
        top:22%;
        left:30%;
        transform: translate(-50%, -50%);
    }
    .servicios { 
        height: auto;
        text-align: center;
        .div1{
            padding: 30px;
            text-align: center;
            font-family:"CabinSketch-Regular";
            }
        img{
            height: 30%;
            border-radius: 100px;
            }
        .titsec2{
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            }
        }
    .nosotros { 
        margin-left: 0px;
        margin-right: 0px;  
        padding-bottom: 30px;
        font-size: 1rem;
        height: auto;
    }
    .bloqueservicio{
        margin-left: 5px;
        margin-right: 5px;
    }
    .contacto { 
        padding-bottom: 30px;
        height:auto;
        font-size: 1rem;
    }
    .section6{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        display: flex;
        flex-direction:column; 
        .parrafonosotros{
            margin-left: 10px;
                }
    }    
    .c2nosotros .titulonosotros{
        margin-left: 30px;
        margin-top: 30px;
    } 
    .detalleservicios {    
        flex-direction: column;
        justify-items: center;
        @include marginlr(20px,20px);
    }   
    .servicio{
        flex-direction: column;
        justify-items: center;
        .div2{
            margin-left: 5px;
            margin-right: 5px;
            justify-content: center;
                   
            .infoserviciosindiv{
                            margin-right: 2x;
                            margin-left: 30px;
                            .parrafosgestmant{
                                    text-indent:5px;
                                    margin: 5px;
                                      }
                          }
                }
            } 
    .footer { 
        display:block;
        justify-content:center;
        padding-left:5px;
        padding-right: 2px;
        }
    .container3{
        height:50vh;
    }
    
}
