*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../‌Font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family:"CabinSketch-Regular" ;
    src: url(../‌Font/CabinSketch-Regular.ttf);
}
@font-face {
    font-family: "PTSansNarrow-Regular";
    src: url(../‌Font/PTSansNarrow-Regular.ttf);
}  

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "video video"
      "servicios servicios"
      "nosotros contacto"
      "footer footer";
  }

body{
      font-family: "PTSansNarrow-Regular";
}
h1, h2, h3, h4{
    font-family: "BebasNeue-Regular";
    padding: 10px;}

.header { 
    grid-area: header;
    background-color: black;
    display:flex;
    height: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
}

.logo{
    margin-left: 10px;
    height: 70px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav{
    justify-items: end;
    width: 80%;
    margin-right: 50px;
    text-align: right;
    align-self: center;
}
.menu{
    background-color:black;
    padding: 0%;
    list-style-type: none;
    margin: 0px auto;
    text-align: right;
    font-family:"BebasNeue-Regular";
}
.menu .item{ 
    display: inline-block;
    position:relative;
    text-align:right;
}
.menu .item a{
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.menu .item a:hover{
    color: black;
    background-color: white;
    font-weight: bold;
}
.menu .submenuservicios {
    position:absolute;
    display: none;
}
.menu .submenuservicios .subitem1{
    display: block;
    padding: auto;
    background-color: black;    
}
.menu .item:hover .submenuservicios{
    display: block;
}

.video { 
    grid-area: video; 
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.video video{
    height: 95%;
    z-index: -1;
}
.video .titsect2{
    font-size: 2rem;
    font-family:"CabinSketch-Regular";
    z-index: -1;
    position:absolute;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%);
}
.servicios { 
    grid-area: servicios; 
    background-color: rgb(103, 175, 175);
    color: rgb(43, 39, 39);
    height: 470px;
    text-align: center;
    align-items: center;
}
.servicios .subtsec2{
    font-size:1.2rem;
    font-family:"BebasNeue-Regular";
    font-style: normal;
}
.servicios .titsec2{
    text-align: left;
    padding-left: 60px;
}
.div1{
    display:inline-block;
    margin: 0px auto;
    padding: 60px;
    text-align: center;
    font-family:"CabinSketch-Regular";
}
.div1 img{
    height: 200px;
    width: auto;
    border-radius: 100px;
}

.nosotros { 
    grid-area: nosotros;
    background-color: white;
    margin-left: 30px;
    margin-right: 15px;
    font-size: 1.2rem;
    height: 600px;
}

.nosotros .nostit{
    text-align: center;
}
.nosotros .nospar{   
    padding-left: 50px;
    padding-right: 60px;
    text-align: justify;
}

.contacto { 
    grid-area: contacto;
    font-size:1.2rem;
    text-align: center;
    background-color: whitesmoke;
    height:600px;
}

.footer { 
    grid-area: footer;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 1.2rem;
    height: 100%;
} 
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "c2nosotros c2nosotros"
      "c2nuestroequipo c2nuestroequipo"
      "footer footer";
  }
  
.c2nosotros{ 
    grid-area: c2nosotros;  
 }
 .parnos{
    text-align: justify;
    margin:10px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
 }

.c2nuestroequipo{
     grid-area: c2nuestroequipo; 
}
.imgnosotros{
    height: 150px;
    width: 220px;
    border-radius: 100px;
    margin:10px;
    padding: 0 15px;
}
.c2nuestroequipo .section6 .textpers{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 15px;
    padding-right: 70px;
}
.section6{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: flex;
}

@media screen and (max-width: 480px)  {
    .container  {   
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "video"
          "servicios"
          "nosotros"
          "contacto"
          "footer";
        }
    .header { 
        grid-area: header;
        background-color:black;
        display:flex;        
        flex-direction: column;
        justify-items: center;
        font-size: 1.1rem;
        height: 150px;
    }
    .logo {
        height: 40%;
        margin: auto;
        padding: auto;
    }
        
    .nav{
        width:auto;
        margin: auto;
        padding: auto;    
    }
    .video video{
        width: 90%;
        height: auto;
        z-index: -2;
    }
    .video .titsect2{
        font-size: 0.6rem;
        color:black;
        font-family:"CabinSketch-Regular";
        z-index: -1;
        text-align: center;
        justify-content: center;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

    }
    .servicios { 
        height: auto;
        text-align: center;
    }
    .div1{
        padding: 30px;
        text-align: center;
        font-family:"CabinSketch-Regular";
    }
    .div1 img{
        height: 120px;
        
        border-radius: 100px;
    }
    .servicios .titsec2{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nosotros { 
        margin-left: 0px;
        margin-right: 0px;  
        padding-bottom: 30px;
        font-size: 1rem;
        height: auto;
    }
    .contacto { 
        padding-bottom: 30px;
        height:auto;
        font-size: 1rem;
    }
    .section6{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        display: flex;
        flex-direction:column; 
    }    
    .c2nosotros .titulonosotros{
        margin-left: 30px;
        margin-top: 30px;
    }
    .section6 .parrafonosotros{
        margin-left: 10px;
    }
   }
   .servicios2{
        color: rgb(32, 31, 31);
        text-align: center;
   }
   .div2{
    display:inline-block;
    margin: 30px ;
    padding: 60px;
    text-align: center;
    font-family:"CabinSketch-Regular";
    }
    .div2 img{
    height: 200px;
    width: auto;
    border-radius: 100px;
    }

    .detalleservicios {
    display: flex;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    }
    
    .bloqueservicio{
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
    }
    .infolink{
        color: rgb(35, 129, 129);
        font-weight: bolder;
    }
    .servicio{
        display: flex;
    }
    .titserviciosindiv{
        text-align: center;
        margin: 20px;
    }
    .div2 .imgserviciosindiv{
        height:400px;
    }
    .infoserviciosindiv{
        margin-right: 100px;
    }
