<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Servicio de consultoria en gestion de mantenimiento para cualquier tipo de empresa y proyecto">
    <meta name="keywords" content="proyecto, consultoria, mantenimiento, gestion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../nuevoestilo.css">  
    <title>OUR PROJECT - Servicio gestion de mantenimiento</title>
</head>
<body>
        <header class="header">header
            <img class="logo" src="../multimedia/logo.png" alt="Logo Our Project">   
            <nav class="nav">  
                <ul class="menu">
                    <li class="item"> <a href="../index.html">Inicio</a> </li>
                    <li class="item"> <a href="../views/nosotros.html">Nosotros</a> </li>
                    <li class="item"> <a href="../views/servicios.html">Servicios</a>
                        <ul class="submenuservicios">
                            <li class="subitem1"> <a href="../views/projectmanagement.html">Project Management</a></li>
                            <li class="subitem1"> <a href="../views/paginaweb.html">Página web</a> </li>
                             <li class="subitem1"> <a href="../views/gestiondemantenimiento.html">Gestión de Mantenimiento</a> </li>
                        </ul>
                    </li>
                    <li class="item"> <a href="../views/contacto.html">Contacto</a> </li>
                </ul>
            </nav>
        </header>
        <h2 class="titserviciosindiv">Gestión de Mantenimiento</h2>
        <section class="servicio">            
            <br>
            <div class="div2">
                <img class="imgserviciosindiv" src="../multimedia/servicioprojectmanagement.png" height="100px" alt="Imágen Gestión de mantenimiento">
            </div>
            <br>
            <section class="infoserviciosindiv">
            <p>El éxito de la gestión empresarial en cualquier sector depende necesariamente de una gestión eficiente del mantenimiento. En fábricas, hoteles, tiendas, restaurantes, entre otros edificios, la gestión de mantenimiento desempeña un papel fundamental para garantizar la eficacia operativa del equipo y las instalaciones.
            <br>
            La gestión de mantenimiento se define como el proceso de mantenimiento de los activos y recursos de una empresa, que tiene como principales objetivos controlar los costes, los tiempos, los recursos y asegurar el cumplimiento de la normativa. Implica la supervisión regular del funcionamiento de las máquinas, equipos, instalaciones y herramientas. Esta gestión evita, por ejemplo, los paros de producción debidos a la rotura del equipo y el desperdicio de recursos en procesos de mantenimiento ineficientes.
            <br>    
             Así, en lugar de sorprenderse por los imprevistos y los fallos técnicos que pueden afectar el flujo de trabajo de la empresa, la gestión de mantenimiento permite a los gestores controlar los procesos para que todo fluya según lo previsto y sin fallos inesperados.
            <br>
            Uno de los principales objetivos de la gestión de mantenimiento es planificar y programar el trabajo de manera eficiente. De este modo, es necesario definir los tipos de mantenimiento más adecuadas para los activos e instalaciones, como el mantenimiento preventivo y correctivo.
            <br>
            Mediante estas estrategias es posible eliminar los fallos técnicos y mantener el funcionamiento y la disponibilidad de los activos, máquinas y plantas.
            <br>
            ¿Cuáles son las ventajas de una gestión de mantenimiento eficiente?
            <br>
            Mejorar la eficiencia operacional: Con el desgaste del uso, los activos pueden tornarse menos eficientes. Por lo tanto, la gestión adecuada del mantenimiento preventivo garantizará las mejores condiciones de funcionamiento del activo y, además, aumentará su vida útil.
            <br>
            Ahorrar tiempo: El mantenimiento preventivo programado reduce el tiempo de inactividad causado por las averías del activo. De esta manera, se puede ahorrar tiempo en reparaciones y reemplazos de emergencia.
            <br>    
            Seguridad del personal y activos: El mantenimiento preventivo regular no sólo garantiza que el activo funcione, sino también que lo haga de forma segura. Esto también resulta en un menor riesgo para los técnicos que están en contacto diario con el equipo.    
            Para facilitar todo este proceso, existe el software de gestión de mantenimiento o GMAO (Gestión de Mantenimiento Asistida por Ordenador). El uso de estos sistemas son un valor añadido para la gestión, ya que simplifica todos estos procesos, centralizando toda la información y facilitando la comunicación entre los gestores y los técnicos de mantenimiento.
                </p>
            <br> 
            </p>
            </section>
        </section>
        <footer class="footer">
            <br>
            <h5>+549118569824</h5>
            <h5>nombre@gmail.com</h5>
            <h5>Todos los derechos reservados</h5>
            </h5>
            <br>
        </footer>
</body>
</html>