<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Servicio de consultoria en gestion de mantenimiento para cualquier tipo de empresa y proyecto">
    <meta name="keywords" content="proyecto, consultoria, mantenimiento, gestion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../nuevoestilo.css">  
    <link rel="shortcut icon" href="../multimedia/favicon.png">
    <title>OUR PROJECT - Servicio gestion de mantenimiento</title>
</head>
<body>
        <header class="header">header
            <img class="logo" src="../multimedia/logo.png" alt="Logo Our Project">   
            <nav class="nav">  
                <ul class="menu">
                    <li class="item"> <a href="../index.html">Inicio</a> </li>
                    <li class="item"> <a href="../views/nosotros.html">Nosotros</a> </li>
                    <li class="item"> <a href="../views/servicios.html">Servicios</a>
                        <ul class="submenuservicios">
                            <li class="subitem1"> <a href="../views/projectmanagement.html">Project Management</a></li>
                            <li class="subitem1"> <a href="../views/paginaweb.html">Página web</a> </li>
                             <li class="subitem1"> <a href="../views/gestiondemantenimiento.html">Gestión de Mantenimiento</a> </li>
                        </ul>
                    </li>
                    <li class="item"> <a href="../views/contacto.html">Contacto</a> </li>
                </ul>
            </nav>
        </header>
        <h1 class="titserviciosindiv">Gestión de Mantenimiento</h1>
        <section class="servicio">            
            <br>
            <div class="div2">
                <img class="imgserviciosindiv" src="../multimedia/serviciogestióndemantenimiento.png" height="100px" alt="Imágen Gestión de mantenimiento">
            </div>
            <section class="infoserviciosindiv">
                <p class="parrafosgestmant">El éxito de la gestión empresarial en cualquier sector depende necesariamente de una gestión eficiente del mantenimiento. En fábricas, hoteles, tiendas, restaurantes, entre otros edificios, la gestión de mantenimiento desempeña un papel fundamental para garantizar la eficacia operativa del equipo y las instalaciones.</p>
                <p class="parrafosgestmant">La gestión de mantenimiento se define como el proceso de mantenimiento de los activos y recursos de una empresa, que tiene como principales objetivos controlar los costes, los tiempos, los recursos y asegurar el cumplimiento de la normativa. Implica la supervisión regular del funcionamiento de las máquinas, equipos, instalaciones y herramientas. Esta gestión evita, por ejemplo, los paros de producción debidos a la rotura del equipo y el desperdicio de recursos en procesos de mantenimiento ineficientes.</p>
                <p class="parrafosgestmant">Así, en lugar de sorprenderse por los imprevistos y los fallos técnicos que pueden afectar el flujo de trabajo de la empresa, la gestión de mantenimiento permite a los gestores controlar los procesos para que todo fluya según lo previsto y sin fallos inesperados.</p>
                <p class="parrafosgestmant">Uno de los principales objetivos de la gestión de mantenimiento es planificar y programar el trabajo de manera eficiente. De este modo, es necesario definir los tipos de mantenimiento más adecuadas para los activos e instalaciones, como el mantenimiento preventivo y correctivo.</p>
                <p class="parrafosgestmant">Mediante estas estrategias es posible eliminar los fallos técnicos y mantener el funcionamiento y la disponibilidad de los activos, máquinas y plantas.</p>
            </section>
        </section>
        <footer class="footer">
            <section class="conectanos">
                <h4>Conectanos</h4>
                <div class="footconect">
                    <img class= "iconocontacwa" src="../multimedia/iconowhatsapp.png" alt="Icono Whatsapp">
                    <h5>+549118569824</h5>
                </div>
                <div class="footconect">
                    <img class= "iconocontac" src="../multimedia/iconomail.png" alt="Icono email">
                    <h5>contacto@ourproject.com</h5>
                </div>
            </section>
            <section class="seguinos">
                <h4>Seguinos</h4>
                <div class="iconosseguinos"> 
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"> <img src="../multimedia/iconoinstagram.png" alt="Icono Instagram"> </a>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../multimedia/iconofacebook.png" alt="Icono Facebook"> </a>
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener"> <img src="../multimedia/iconotwitter.png" alt="Icono Twitter"> </a>
                </div>
                <div class="seguinosdiv" >
                    <h5>Todos los derechos reservados</h5>
                    <h5> <a href="#top">Ir al comienzo</a></h5>
                </div>
            </section>
                <section class="oficinas">
                    <h4>Nuestas oficinas</h4>
                    <section class="direc">
                        <div class="direoficina">
                            <img class= "iconoofi" src="../multimedia/iconolugar.png" alt="Icono localización">
                            <h5>Rosario 1200</h5>
                            <h5>Capital Federal</h5>
                            <h5>Buenos Aires, Argentina</h5>
                        </div>
                        <div class="direoficina">
                            <img class= "iconoofi" src="../multimedia/iconolugar.png" alt="Icono localización">
                            <h5>290 Connor Street</h5>
                            <h5>Miami Beach, Florida</h5>
                            <h5>EEUU</h5>
                        </div>
                    </section>
                </section>
            </section>
        </footer>
</body>
</html>