<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Servicio de creación de paginas web para cualquier tipo de empresa y proyecto">
    <meta name="keywords" content="proyecto, consultoria, pagina web, gestion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../nuevoestilo.css"> 
    <link rel="shortcut icon" href="../multimedia/favicon.png"> 
    <title>OUR PROJECT - Servicio pagina web</title>
</head>
<body>
        <header class="header">header
            <img class="logo" src="../multimedia/logo.png" alt="Logo Our Project">   
            <nav class="nav">  
                <ul class="menu">
                    <li class="item"> <a href="../index.html">Inicio</a> </li>
                    <li class="item"> <a href="../views/nosotros.html">Nosotros</a> </li>
                    <li class="item"> <a href="../views/servicios.html">Servicios</a>
                        <ul class="submenuservicios">
                            <li class="subitem1"> <a href="../views/projectmanagement.html">Project Management</a></li>
                            <li class="subitem1"> <a href="../views/paginaweb.html">Página web</a> </li>
                             <li class="subitem1"> <a href="../views/gestiondemantenimiento.html">Gestión de Mantenimiento</a> </li>
                        </ul>
                    </li>
                    <li class="item"> <a href="../views/contacto.html">Contacto</a> </li>
                </ul>
            </nav>
        </header>
        <h1 class="titserviciosindiv">Página WEB</h1>
        <section class="servicio">            
            <br>
            <div class="div2">
                <img class="imgserviciosindiv" src="../multimedia/serviciopaginaweb.png" height="100px" alt="Imágen Página web">
            </div>
            <section class="infoserviciosindiv"> 
            <p class="parrafosgestmant">Un sitio web profesional es la cara virtual de tu empresa ¡Todo tiene que verse espectacular! Diseñamos sitios elegantes y de vanguardia para que presentes tu negocio en internet. </p>
            <p class="parrafosgestmant">Paso 1: Encontrar el plane que mejor se adapte a tus necesidades, cada uno tiene sus cualidades. Elegí el que se adapte a tu idea. También podés pedir una cotización personalizada o consultar tus dudas en los medios de contacto.</p>
            <p class="parrafosgestmant">Paso 2: Desarrollemos tu web! Vamos a comenzar a trabajar en el diseño, estando en contacto permanente. Te damos un link, donde podrás compartir contenido para el sitio y conocer las tareas que se están realizando, el progreso del trabajo y cuánto falta para finalizarlo. Esta etapa conlleva conocernos, entender en profundidad lo que queres, lo que necesitas, y a dónde queres llegar. Trabajamos juntos, codo a codo!</p>
            <p class="parrafosgestmant">Paso 3: Tu pagina esta lista! Luego del tiempo de desarrollo del mismo (cada plan indica su tiempo estimado), vamos a entregar tu web lista para recibir visitas, generar ventas u ofrecer tus servicios.</p>
            <p class="parrafosgestmant"> Contactanos y comenzemos con OUR PROJECT!</p>
            </section>
        </section>
        <footer class="footer">
            <section class="conectanos">
                <h4>Conectanos</h4>
                <div class="footconect">
                    <img class= "iconocontacwa" src="../multimedia/iconowhatsapp.png" alt="Icono Whatsapp">
                    <h5>+549118569824</h5>
                </div>
                <div class="footconect">
                    <img class= "iconocontac" src="../multimedia/iconomail.png" alt="Icono email">
                    <h5>contacto@ourproject.com</h5>
                </div>
            </section>
            <section class="seguinos">
                <h4>Seguinos</h4>
                <div class="iconosseguinos"> 
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"> <img src="../multimedia/iconoinstagram.png" alt="Icono Instagram"> </a>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../multimedia/iconofacebook.png" alt="Icono Facebook"> </a>
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener"> <img src="../multimedia/iconotwitter.png" alt="Icono Twitter"> </a>
                </div>
                <div class="seguinosdiv" >
                    <h5>Todos los derechos reservados</h5>
                    <h5> <a href="#top">Ir al comienzo</a></h5>
                </div>
            </section>
                <section class="oficinas">
                    <h4>Nuestas oficinas</h4>
                    <section class="direc">
                        <div class="direoficina">
                            <img class= "iconoofi" src="../multimedia/iconolugar.png" alt="Icono localización">
                            <h5>Rosario 1200</h5>
                            <h5>Capital Federal</h5>
                            <h5>Buenos Aires, Argentina</h5>
                        </div>
                        <div class="direoficina">
                            <img class= "iconoofi" src="../multimedia/iconolugar.png" alt="Icono localización">
                            <h5>290 Connor Street</h5>
                            <h5>Miami Beach, Florida</h5>
                            <h5>EEUU</h5>
                        </div>
                    </section>
                </section>
            </section>
        </footer>
</body>
</html>